
/* Beer Catalog */
.beer-catalog-section {
  background-color: #0f0e17;
  padding: 60px 20px;
  text-align: center;
  color: #fffffe;
}

.beer-card {
  background: #a7a9be;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.beer-card:hover {
  transform: scale(1.05);
}

.beer-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.beer-name {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ff8906;
}

.beer-description {
  font-family: 'Fredoka', sans-serif;
  font-size: 1rem;
  color: black;
  margin-top: 10px;
}
/* Estilo base de los botones del carrusel */
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: auto; /* Ajuste automático del ancho */
  height: 20px; /* Ajusta el alto */
  z-index: 10; /* Asegura que las flechas estén por encima del contenido */
}

/* Posiciona las flechas fuera del carrusel */
.carousel-control-prev {
  top: 1%;
  left: -70px; /* Más a la izquierda */
}

.carousel-control-next {
  top: 1%;
  right: -70px; /* Más a la derecha */
}

/* Personalización de los íconos */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(255, 102, 0, 0.9); /* Naranja fuerte */
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-size: 60%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para más visibilidad */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Personalizar hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(255, 102, 0, 1); /* Color más intenso */
  transform: scale(1.1); /* Efecto de agrandamiento */
  
}


/* Asegurar que las flechas sean visibles en cualquier fondo */
.carousel-control-prev-icon::before, 
.carousel-control-next-icon::before {
  content: '‹'; /* Flecha izquierda */
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: absolute;
}

.carousel-control-next-icon::before {
  content: '›'; /* Flecha derecha */
}
