:root {
  --primary-color: #ff8906;
  --secondary-color: #f25f4c;
  --dark-color: #0f0e17;
}

body {
  font-family: 'Arial', sans-serif;
  padding-top: 76px; /* Compensar altura navbar fijo */
}

.section-title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/public/images/Pampa-HONEY-2-scaled.jpg') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Product Cards */
.beer-card {
  transition: transform 0.3s;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.beer-card:hover {
  transform: translateY(-5px);
}